<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.share">

    <permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_share"
        android:label="Share"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        tools:targetApi="m">
        <activity android:name=".activity.CommentActivity"/>
        <activity android:name=".activity.MyInformationActivity" />
        <activity android:name=".activity.FocusActivity" />
        <activity android:name=".activity.FansActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainMenuActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.example.administrator.share.view.MainMenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ResPwdActivity" />
        <activity android:name=".activity.AddnewsActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".activity.ConfigActivity" />
        <activity android:name=".activity.BeforeDateCheckActivity"
            android:theme="@style/FruitActivityTheme"/>
        <activity android:name=".activity.DateCheckActivity" />
        <activity android:name=".activity.CircleDetailActivity" />
        <activity android:name=".activity.BadgeViewTwo" />
        <activity
            android:name=".activity.FruitActivity"
            android:theme="@style/FruitActivityTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.administrator.share.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>