<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.share">

    <permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:icon="@mipmap/ic_share"
        android:label="Share"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        android:usesCleartextTraffic="true">

        <activity android:name=".activity.DetailActivity"></activity>
        <activity
            android:name=".activity.RecordActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainMenuActivity">
            <intent-filter>
                <action android:name="com.example.administrator.share.view.MainMenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ResPwdActivity" />
        <activity android:name=".activity.AddnewsActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.WelcomeActivity"/>
        <activity android:name=".activity.ConfigActivity"/>
        <activity android:name=".activity.BeforeDateCheckActivity"/>
        <activity android:name=".activity.DateCheckActivity"/>
        <activity android:name=".activity.CircleDetailActivity"/>
    </application>

</manifest>